@model IEnumerable<WebApplication2.Models.BOOK_EDITION>

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
	
	<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">@ViewBag.Title</span></h2>
	<div class="row px-xl-5">
		@if (Model.Any())
		{
			foreach (var item in Model)
			{
				<div class="col-lg-3 col-md-4 col-sm-6 pb-1" style="cursor: pointer">
					@Html.Action("Book", "SharedViews", item)
				</div>
			}
		}else
		{
			<div class="col-12">
				<p class="text-center h3">Không có dữ liệu</p>
			</div>
		}
	</div>
</div>
<!-- Products End -->

