@model IEnumerable<WebApplication2.Models.BOOK_EDITION>

@if (Model.Count() > 0)
{
	foreach (var i in Model)
	{
		<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
			@Html.Partial("_Book", i)
		</div>
	}
	<div class="col-12">
		<nav>
			<ul class="pagination justify-content-center">
				@{
					int pageAmount = (int)Math.Ceiling((Model.Count() * 1.0 / 9));
				}
				<li class="page-item disabled"><a class="page-link" href="#"><span>Previous</span></a></li>
				@for (int i = 1; i <= pageAmount; i++)
				{
					<li class="page-item active"><a class="page-link" href="#">@i</a></li>
				}
				<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>
	</div>
}
else
{
	<div class="col-12 d-flex justify-content-center align-items-center text-center" style="height: 500px">
		<p class="h1 font-weight-light">Không có kết quả</p>
	</div>
}


