@model WebApplication2.Models.BANK_ACCOUNT

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "BANK_ACCOUNT", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="create-bank-account-form" })) 
{
    <div class="form-horizontal w-100">
        <div class="form-group form-grouping">
            <label>Số tài khoản</label>
            @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control w-100" } })
            <small class="form-message"></small>
        </div>

		<div class="form-grouping form-group">
			<label>Ngân hàng</label>
			@Html.DropDownList("BankAccountName", null, htmlAttributes: new { @class = "form-control w-100", name= "BankAccountName" })
			<small class="form-message"></small>
		</div>

        <div class="form-group form-grouping">
           <label>CVC</label>
           @Html.EditorFor(model => model.BankCVC, new { htmlAttributes = new { @class = "form-control w-100" } })
           <small class="form-message"></small>
        </div>

		<button class="btn btn-success" type="submit">
			Liên kết
		</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
