@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	<div class="nav navbar-nav navbar-right p-1">
		@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-dark" })
	</div>
}
else
{
	<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
	<div class="dropdown-menu dropdown-menu-right">
		<ul class="nav navbar-nav navbar-right">
			<li>@Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</li>
			<li>@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })</li>
		</ul>
	</div>
}
