﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Dashboard</a></li>
            </ol>
        </div>
    </div>

    <hr />
    <h2>Chào mừng bạn đã trở lại</h2>
    
    <!-- #/ container -->
</div>

