@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}




<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>


    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nhà xuất bản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div>
        <p>Doanh thu năm @ViewBag.year</p>
        <canvas id="RevenueOfThisYear"></canvas>
        <canvas id="RevenueOfMonth"></canvas>

    </div>


    <hr />


    <!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Manager/Home/GetRevenueOfEachMonthInYear',
            type: 'GET',
            success: function (data) {
                const revenue = JSON.parse(data);
                const revenueArray = Object.values(revenue)

                const chartData = new Array(12).fill(0);

                revenueArray.forEach(item => {
                    const { Year, Month, Revenue } = item;
                    if (Year === @Html.Raw(ViewBag.year))
                        chartData[Month - 1] = Revenue
                });
                const ctx = document.getElementById('RevenueOfThisYear');

                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 9', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                        datasets: [
                            {
                                label: 'VNĐ',
                                data: chartData,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        onClick: (event, activeElements) => {
                            if (activeElements.length > 0) {
                                const clickedIndex = activeElements[0].index;
                                let monthIndex = clickedIndex + 1

                                let date = (monthIndex < 10 ? '0' + monthIndex : monthIndex) + "-" + new Date().getFullYear();

                                $.ajax({
                                    url: '/Manager/Home/RevenueInOneMonth/',
                                    data: { date: date },
                                    type: 'GET',
                                    success: function (data) {
                                        $('.modal-body').html(data);
                                        $('#createModal').modal('show');

                                    }
                                });

                            }
                        }
                    }
                });
            }
        })
    })

</script>
